body {
  font-family: "Roboto", sans-serif;
}
h1 {
}
header {
  border-bottom: 1px solid #f9f7fe;
  padding-bottom: 30px;
}
main {
  padding: 30px 0;
}
footer {
  border-top: 1px solid #f9f7fe;
  padding-top: 15px;
  text-align: center;
  color: rgba(39, 33, 66, 0.4);
}
footer a {
  color: rgb(136, 93, 241);
}
footer p {
  margin: 16px 0;
}

.weather-app {
  background: rgb(255, 255, 255);
  max-width: 600px;
  margin: 60px auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}
.input-search {
  background-color: #f9f7fe;
  border: none;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  padding: 20px;
  width: 75%;
  border-radius: 6px;
}
.input-button {
  margin-left: 5px;
  font-size: 16px;
  background-color: #885df1;
  color: white;
  border: none;
  padding: 20px;
  line-height: 1;
  border-radius: 5px;
}
.current-weather {
  display: flex;
  justify-content: space-between;
}
.current-city {
  font-size: 38px;
  font-weight: 900;
  margin: 0;
}
.current-city-details {
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.current-city-details strong {
  color: #f65282;
}
.current-city-temperature {
  /*font-size: 48px;*/
}
.current-city-temperature-icon {
  position: relative;
  top: -8px;
  font-size: 40px;
  /*margin-right: 10px; looks wrong*/
}
.current-city-temperature-value {
  font-size: 80px;
  font-weight: bold;
}
.current-city-temperature-unit {
  font-size: 28px;
  position: relative;
  top: -38px;
}
